<strong>Olá, {{name}} </strong>
<p>Houve uma nova incrição no Meetup: <strong>{{titulo}}</strong>! <br />Confira mais detalhes abaixo:</p>
<p>
  <strong>Usuario: </strong> {{user}}, <strong>Email: </strong> {{email}}<br />
  <strong>Data/Hora: </strong> {{data}} <br />
  <br />
  <small>
    Não se esqueça do seu compromisso, configure um lembrete com o dia e horário acima. <br />
    <strong>Vai ser da Hora!!</strong>
  </small>
</p>
